.bounding-box{
    position: absolute;
    text-align: center;
    box-shadow: 0 0 0 3px greenyellow inset;
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -webkit-box-pack: center;
    flex-wrap:wrap;
    justify-content:center;
    cursor:pointer;
    z-index: 2;
}
.center {
    display: flex;
    justify-content: center;
  }